name: Test Docker
on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Check default.sh
      run: shellcheck scripts/default.sh

    - name: Build Image
      run: make image 

    - name: Inspect
      run: make inspect